.wp-block-ryelle-grainy-gradient {
	position: relative;
}

.wp-block-ryelle-grainy-gradient__gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	isolation: isolate;

	background: var(--texture), var(--gradient);
	background-blend-mode: multiply;
	filter: contrast(1000%) brightness(200%);
}
